<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <% include ../include/head.ejs %>
</head>
<body style="background-color: #E1E1E1">
<% include ../include/header.ejs %>

<div class="container">
<div class="col-md-8 post-module">
<div class="post-wrapper">
    <div class="post-header">
        <ul class="list-category">
            <%if(categoryName!='all'&&categoryName!='awesome'){%>
                <li><a href="/list?p=0&category=all">全部</a></li>
                <li><a href="/list?p=0&category=awesome">精华</a></li>
            <%categories.forEach(function(category,i){%>
                <%if(category.name==categoryName){%>
                <li class="active-category"><%=category.name%></li>
                <%}else{%>
                <li> <a href="/list?p=0&category=<%=category.name%>"><%=category.name%></a></li>
                <%}
                })%>
            <%}else if(categoryName=='all'){%>
                <li class="active-category">全部</li>
                <li><a href="/list?p=0&category=awesome">精华</a></li>
                <%categories.forEach(function(category,i){%>
                     <li> <a href="/list?p=0&category=<%=category.name%>"><%=category.name%></a></li>
                <%})
            }else{%>
                <li><a href="/list?p=0&category=all">全部</a></li>
                <li class="active-category">精华</li>
                <%categories.forEach(function(category,i){%>
                    <li> <a href="/list?p=0&category=<%=category.name%>"><%=category.name%></a></li>
                <%})
            }%>

        </ul>
    </div>
    <% posts.forEach(function(post, i){ %>
    <div class="post-row">
        <div class="post-left display-ib" style="">
            <a href="/personal/<%=post.user._id%>"><img src="<%=post.user.avatar%>" class="post-avatar"></a>
        </div>
        <div class="post-right display-ib" style="width:89%">
            <a href="/post/detail/<%=post._id%>" class="post-title"><%= post.title %></a>
            <div class="post-bottom">
                <span class="post-date">
                    <%if(post.top){%>
                    <span class="post-category" style="background-color: #5A888A;color: #fff">置顶</span>
                    <span class="point">·</span>
                    <%}%>
                    <%if(post.awesome){%>
                    <span class="post-category" style="background-color: #F0AD4E;color:#fff">精华</span>
                    <span class="point">·</span>
                    <%}%>
                    <span class="post-category"><%=post.category.name%></span>
                    <span class="point">·</span>
                    <a href="/personal/<%=post.user._id%>" class="post-username"><%=post.user.name%></a>
                    <span class="point">·</span>
                    <%if(post.replylast){%>最后由<a class="post-username" href="/personal/<%=post.user._id%>"><%=post.replylast.name%> </a>回复 <%} moment.locale('zh-cn');%><%=moment(post.meta.updateAt).startOf('hour').fromNow()%>
                </span>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<nav>
    <ul class="pagination" style="margin-left:20px">
        <li>
            <a href="/list?p=0&category=<%=categoryName%>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <%if(totalPage<6){
        for(var i=0;i<totalPage;i++){%>
            <%if(currentPage==i){%>
            <li class="active"><a href="#"><%=i+1%></a></li>
            <%}else{%>
            <li><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=i+1%></a></li>
        <%}}
        }else{
        if(currentPage<=2){
            for(var i=0;i<5;i++){
            if(currentPage==i){%>
                 <li class="active"><a href="/list?p=<%=currentPage%>"><%=parseInt(currentPage)+parseInt(1)%></a></li>
            <%}else{%>
                <li><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=parseInt(i)+parseInt(1)%></a></li>
             <%}
            }%>
            <li><a>...</a></li>
        <%}else if(currentPage<totalPage-3){%>
            <li><a>...</a></li>
            <%for(var i=currentPage-2;i<parseInt(currentPage)+parseInt(3);i++){
                if(currentPage==i){%>
                    <li class="active"><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=parseInt(i)+parseInt(1)%></a></li>
                <%}else{%>
                    <li><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=parseInt(i)+parseInt(1)%></a></li>
            <%}}%>
            <li><a>...</a></li>
        <%} else {%>
            <li><a>...</a></li>
            <%for(var i=totalPage-5;i<totalPage;i++){
            if(currentPage==i){%>
            <li class="active"><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=parseInt(i)+parseInt(1)%></a></li>
            <%}else{%>
            <li><a href="/list?p=<%=i%>&category=<%=categoryName%>"><%=parseInt(i)+parseInt(1)%></a></li>
            <%}}%>
        <%}
        }%>
        <li>
            <a href="list?p=<%=Math.ceil(totalPage-1)%>&category=<%=categoryName%>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
</div>

<div class="col-md-4">
    <div class="side-recommend">
        <div class="left-header">热门主题</div>
        <div class="side-wrapper">
            <ul class="side-ul">
                <%hotrecommend.forEach(function(post){%>
                <li class="dot"><a class="dot" href="/post/detail/<%=post._id%>"><img src="<%=post.user.avatar%>"><span><%=post.title%></span></a></li>
                <%})%>
            </ul>
        </div>
    </div>
</div>

</div>

<% include ../include/footer.ejs %>
</body>
</html>