<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <% include ../include/head.ejs %>
</head>
<body style="background-color: #E1E1E1">
<% include ../include/header.ejs %>

<div class="container">
  <div class="col-sm-8 post-module" style="">
    <div class="post-wrapper">
      <div class="post-header">
        <ul class="list-category">
          <li><a href="/list?p=0">全部</a></li>
          <li class="active-category">精华</li>
          <li><a href="/list/query?p=0">问答</a></li>
          <li><a href="/list/share?p=0">分享</a></li>
          <li><a href="/list/news?p=0">资讯</a></li>
          <li><a href="/list/trade?p=0">交易</a></li>
          <li><a href="/list/hr?p=0">招聘</a></li>
        </ul>
      </div>
      <% posts.forEach(function(post, i){ %>
      <div class="post-row">
        <div class="post-left display-ib" style="">
          <a href=""><img src="/images/noface.png" class="post-avatar"></a>
        </div>
        <div class="post-right display-ib" style="width:89%">
          <a href="/post/detail/<%= post._id %>" class="post-title"><%= post.title %></a><span
                  class="btn-question">问答</span>

          <p class="post-content">
            <% post.content = post.content.replace(/(\n)/g, "");
              post.content = post.content.replace(/(\t)/g, "");
              post.content = post.content.replace(/(\r)/g, "");
              post.content = post.content.replace(/<\/?[^>]*>/g, "");
              if (post.content.length > 20) {
                post.content = post.content.substring(0, 150) + '...'
              }
            %>
            <%= post.content %>
          </p>

          <div class="post-bottom">
            
            <span class="post-date"><%= moment(post.meta.updateAt).format('YYYY-MM-DD HH:mm:ss') %></span>

            <div class="post-bottom-right">
              <span class="font-20 font-color-red mrgr-20"><i class="fa fa-heart-o"></i></span>
              <span class="font-20 font-color-red"><i class="fa fa-comment-o"></i> <span class="post-comment-num">200</span></span>
            </div>
          </div>
        </div>
      </div>
      <% }) %>

      <div class="post-row">
        <div class="post-left display-ib" style="">
          <a href=""><img src="/images/noface.png" class="post-avatar"></a>
        </div>
        <div class="post-right display-ib" style="width:89%">
          <a href="post-title" class="post-title">现在pi用的是arm7架构，那么能不能不需要定制，直接安装linux</a><span
                  class="btn-question">问答</span>

          <p class="post-content">
            每到事情结束时上天都会以一种神奇的方式告诉我祂还爱着我，比如说现在。
            我们毕业生被通知23号一定要搬走，而我一个月前买的机票不早不晚刚好就是23号的。
            如果买晚了就没地方住了scream虽然后来得知其实是如果人已经搬走了东西一定要在23号
            前清空不然没收的意思，住是可以一直住到30号的。但是啊，就容我...
          </p>

          <div class="post-bottom">
            <div class="post-tag">
              <div class="btn-tag">智能硬件</div>
            </div>
            <span class="post-date">2015-12-3</span>

            <div class="post-bottom-right">
              <span class="font-20 font-color-red mrgr-20"><i class="fa fa-heart-o"></i></span>
              <span class="font-20 font-color-red"><i class="fa fa-comment-o"></i> <span class="post-comment-num">200</span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <ul class="pagination" style="margin-left:20px">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <%for(var i=0;i<totalPage;i++){%>
        <%if(currentPage==i){%>
        <li class="active"><a href="#"><%=i+1%></a></li>
        <%}else{%>
        <li><a href="#"><%=i+1%></a></li>
        <%}}%>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="col-sm-4">
    <div class="side-recommend">
      <div class="left-header">高产大神</div>
      <div class="user-wrapper">
        <div class="user">
          <a href="#">
            <img src="/images/a1.jpg"/>
            <span class="dot">心太卵</span>
          </a>
          <span class="font-color-grey user-right-info">323条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a2.jpg"/>
            <span class="dot">狗老板</span>
          </a>
          <span class="font-color-grey user-right-info">234条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a3.jpg"/>
            <span class="dot">张奶翔</span>
          </a>
          <span class="font-color-grey user-right-info">220条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a4.jpg"/>
            <span class="dot">项飞田</span>
          </a>
          <span class="font-color-grey user-right-info">124条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a5.jpg"/>
            <span class="dot">马走日</span>
          </a>
          <span class="font-color-grey user-right-info">110条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a6.jpg"/>
            <span class="dot">Dropkick</span>
          </a>
          <span class="font-color-grey user-right-info">124条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a6.jpg"/>
            <span class="dot">Dropkick</span>
          </a>
          <span class="font-color-grey user-right-info">124条回复</span>
        </div>
        <div class="user">
          <a href="#">
            <img src="/images/a6.jpg"/>
            <span class="dot">Dropkick</span>
          </a>
          <span class="font-color-grey user-right-info">124条回复</span>
        </div>
      </div>
    </div>
    <div class="side-recommend">
      <div class="left-header">热门标签</div>
      <div class="topic-wrapper">
        <div class="btn-topic">Ardunio</div>
        <div class="btn-topic">如何部署</div>
        <div class="btn-topic">怎样打算</div>
        <div class="btn-topic">怎样打算</div>
        <div class="btn-topic">怎样打算</div>
        <div class="btn-topic">怎样打算</div>
        <div class="btn-topic">怎样打算</div>
        <div class="btn-topic">怎样打算</div>
      </div>
    </div>
  </div>

</div>

<% include ../include/footer.ejs %>
</body>
</html>