<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <%include ../include/head.ejs%>
</head>
<body style="background-color:#F5F5F5">
<%include ../include/header.ejs%>
<div class="container">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="position:relative;margin-bottom: 100px;">
    <!-- Indicators -->
    <div class="carousel-top bg-white" style="position: relative;z-index: 9;">
      <a href="/list?p=0&category=资讯">最新资讯</a>
    </div>
    <ol class="carousel-indicators hidden-xs" >
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" style="height:100%" >
      <div class="item active" style="width:100%;height:100%">
        <a class="col-md-7 bg-center" style="background-image:url('/images/news/256.png');height:100%;padding:0px;display: block" href="http://www.cberry.cn/post/detail/56313168d8548e132a41a55c">
          <div class="item-desc"><strong>
              世界创客大会上惊现256个树莓派组成的超级计算机
            </strong></div>
        </a>
        <div class="col-md-5 hidden-xs" style="height: 100%;padding: 0px">
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/Windows10.png');height:50%;padding: 0px;display: block" href="http://www.cberry.cn/post/detail/5622983883bec80f375703c0">
            <div class="item-desc"><strong>windows10 for raspberry PI 2现在已经开放下载</strong></div>
          </a>
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/turrent.jpg');height:50%;padding: 0px;display: block" href="http://www.cberry.cn/post/detail/5623d22083bec80f375703e2">
            <div class="item-desc"><strong>人类的敌人：用树莓派实现的炮塔</strong></div>
          </a>
        </div>
      </div>
      <div class="item" style="width:100%;height:100%;" >
        <a class="col-md-7 bg-center" style="background-image:url('/images/news/gb.jpg');height:100%;padding: 0px;display: block" href="http://www.cberry.cn/post/detail/5622933683bec80f375703be">
          <div class="item-desc"><strong>细数15个最牛逼的基于树莓派的项目</strong></div>
        </a>
        <div class="col-md-5 hidden-xs" style="height: 100%;padding: 0px">
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/wd.jpg');height:50%;padding: 0px;display: block" href="http://www.cberry.cn/post/detail/5623c29583bec80f375703e0">
            <div class="item-desc"><strong>西部数据公司为树莓派开发专用的1TB大容量硬盘</strong></div>
          </a>
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/officialscreen.jpg');height:50%;padding: 0px;display: block" href="http://www.cberry.cn/post/detail/5623b9e683bec80f375703df">
            <div class="item-desc"><strong>树莓派官方触屏显示器在近日公布</strong></div>
          </a>
        </div>
      </div>
      <div class="item" style="width:100%;height:100%;">
        <a class="col-md-7 bg-center" style="background-image:url('/images/news/41.jpg');height: 100%;padding:0px;display: block;" href="http://www.cberry.cn/post/detail/562295d583bec80f375703bf">
          <div class="item-desc"><strong>Ubuntu Snappy Core 15.04 镜像近日公布，专为树莓派打造</strong></div>
        </a>
        <div class="col-md-5 hidden-xs" style="height: 100%;padding: 0px">
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/ubuntu-mate.jpg');height:50%;padding:0px;display: block" href="http://www.cberry.cn/post/detail/562b2d1a83bec80f375703e6">
            <div class="item-desc"><strong>Ubuntu Mate 15.10 开放下载</strong></div>
          </a>
          <a class="col-md-12 bg-center" style="background-image:url('/images/news/pidesk.jpg');height:50%;padding:0px;display: block" href="http://www.cberry.cn/post/detail/562a930783bec80f375703e5">
            <div class="item-desc"><strong>PiDesk:未来感十足的树莓派电脑桌面系统</strong></div>
          </a>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" style="z-index:99">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
<div class="container bg-white box-padding">
<div class="col-md-8">
  <p class="left-title">社区话题 <span class="pull-right"><a href="/list?p=0&category=all">更多</a></span></p>
  <div class="post-wrapper">
    <%allPosts.forEach(function(post,i){%>
    <div class="post-row">
      <div class="post-left display-ib col-xs-1" style="padding: 0px">
        <a href="/personal/<%=post.user._id%>"><img src="<%=post.user.avatar%>" class="post-avatar"></a>
      </div>
      <div class="post-right display-ib col-xs-11">
        <a class="post-title" href="/post/detail/<%=post._id%>"><%=post.title%></a>
        <div class="post-bottom">
          <span class="post-date">
            <span class="post-category"><%=post.category.name%></span>
            <span class="point">·</span>
            <a href="/personal/<%=post.user._id%>" class="post-username"><%=post.user.name%></a>
            <span class="point">·</span>
            <%if(post.replylast){%>最后由<a class="post-username" href="/personal/<%=post.user._id%>"><%=post.replylast.name%> 回复</a><% }moment.locale('zh-cn');%><%=moment(post.meta.updateAt).startOf('hour').fromNow()%>
          </span>
          <div class="post-bottom-right">
            <span class="reply-count"><%=post.replynum%></span>
          </div>
        </div>
      </div>
      <div style="clear: both"></div>

    </div>
    <%})%>
  </div>
</div>

<div class="col-md-4">
  <p class="left-title">高产大神</p>
  <div class="user-wrapper">
    <%postUsers.forEach(function(user,i){%>
    <div class="user">
      <a href="/personal/<%=user._id%>">
        <img src="<%=user.avatar%>"/>
        <span class="dot"><%=user.name%></span>
      </a>
      <span class="font-color-grey user-right-info dot"><%=user.postcount%>个帖子</span>
    </div>
    <%})%>
  </div>
  <p class="left-title">最新帖子</p>
  <div class="topic-wrapper">
    <ul class="side-ul">
      <%recAllPosts.forEach(function(post){%>
      <li class="dot"><a href="/post/detail/<%=post._id%>"><%=post.title%></a></li>
      <% })%>
    </ul>
  </div>
</div>

</div>

<div class="container bg-white box-padding">
  <div class="col-md-8 index-query-posts">
    <p class="left-title">问答<span class="pull-right"><a href="/list?p=0&category=问答">更多</a></span></p>
    <div class="post-wrapper">
      <%queryPosts.forEach(function(post,i){%>
      <div class="post-row">
        <div class="post-left display-ib col-xs-1" style="padding:0px;">
          <a href="/personal/<%=post.user._id%>"><img src="<%=post.user.avatar%>" class="post-avatar"></a>
        </div>
        <div class="post-right display-ib col-xs-11">
          <a class="post-title dot" href="/post/detail/<%=post._id%>"><%=post.title%></a>
          <div class="post-bottom">
            <span class="post-date"><span class="post-category"><%=post.category.name%></span><span class="point">·</span><a href="/personal/<%=post.user._id%>" class="post-username"><%=post.user.name%></a>
              <span class="point">·</span><%if(post.replylast){%><span class="hidden-xs">最后由<a class="post-username" href="/personal/<%=post.user._id%>"><%=post.replylast.name%> </a>回复</span> <%} moment.locale('zh-cn');%><%=moment(post.meta.updateAt).startOf('hour').fromNow()%></span>
            <div class="post-bottom-right">
              <span class="reply-count"><%=post.replynum%></span>
            </div>
          </div>
        </div>
        <div style="clear: both"></div>
      </div>
      <%})%>
    </div>
  </div>

  <div class="col-md-4 index-query-side">
    <p class="left-title">新人报道</p>
    <div class="user-wrapper">
      <%newUsers.forEach(function(user,i){%>
      <div class="user">
        <a href="/personal/<%=user._id%>">
          <img src="<%=user.avatar%>"/>
          <span class="dot"><%=user.name%></span>
        </a>
        <span class="font-color-grey user-right-info dot"><%=user.postcount%>个帖子</span>
      </div>
      <%})%>
    </div>
    <p class="left-title">最新问答</p>
    <div class="topic-wrapper">
      <ul class="side-ul">
        <%recQueryPosts.forEach(function(post){%>
        <li class="dot"><a href="/post/detail/<%=post._id%>"><%=post.title%></a></li>
        <% })%>
      </ul>
    </div>
  </div>
</div>
<div class="container bg-white box-padding">
  <p class="left-title">树莓派周刊</p>
  <div class="mag-wrapper">

    <div class="mag-box col-md-3" style="background:#ef6f67;">
      <h3>树莓派周刊 · 第1期</h3>
      <p>发布时间：2015-11-1（建设中）</p>
    </div>
    <div class="mag-box col-md-3" style="background:#46afe4;">
      <h3>树莓派周刊 · 第2期</h3>
      <p>发布时间：2015-11-15（建设中）</p>
    </div>
    <div class="mag-box col-md-3" style="background:#81cc7a;">
      <h3>树莓派周刊 · 第3期</h3>
      <p>发布时间：2015-12-1（建设中）</p>
    </div>
    <div class="mag-box col-md-3" style="background:#00cbbd;">
      <h3>树莓派周刊 · 第4期</h3>
      <p>发布时间：2015-12-15（建设中）</p>
    </div>

  </div>
</div>


<%include ../include/footer.ejs%>
</body>
</html>