<!DOCTYPE html>
<html>
<head lang="zh-CN">
  <%include ../include/head.ejs%>
  <link rel="stylesheet" type="text/css" href="/css/personal.css">
</head>
<body>
<%include ../include/header.ejs%>

<div class="container">
  <div class="col-md-9">
    <div class="user-post personal-module">
      <h3>创建的话题 <span class="pull-right"><a href="/more/post/558c31a1814e598eac9fb6bb">更多</a></span></h3>
      <ul>
        <% favorites.forEach(function(favorite,i){%>

        <li><img src="<%=favorite.user.avatar%>" class="">
          <a href="/post/detail/<%=favorite._id%>">
            <span><%=favorite.title%></span>
          </a>
          <span class="personal-date pull-right"><%=moment(favorite.meta.updateAt).format('YYYY-MM-DD HH:mm')%></span>
        </li>

        <%})%>
      </ul>
    </div>
    <ul class="pagination" style="margin-left:20px">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <%for(var i=0;i<totalPage;i++){%>
      <%if(currentPage==i){%>
      <li class="active"><a href="/more/fav/<%=userId%>?p=<%=i%>"><%=i+1%></a></li>
      <%}else{%>
      <li><a href="/more/fav/<%=userId%>?p=<%=i%>"><%=i+1%></a></li>
      <%}}%>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="col-md-3">

  </div>
</div>
<%include ../include/footer.ejs%>
</body>
</html>